<aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
        <div>
            Admin <b class="font-black">One</b>
        </div>
    </div>
    <div class="menu is-menu-main">
        <ul class="menu-list">
            <li>
                <a class="nav-item items-center" href="index.html">
                    <ion-icon name="desktop-outline"></ion-icon>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="nav-item" href="index.html">
                    <ion-icon name="list-outline"></ion-icon>
                    category
                </a>
            </li>
            <li>
                <a class="nav-item" href="index.html">
                    <ion-icon name="cube-outline"></ion-icon>
                    product
                </a>
            </li>
            <li>
                <a class="nav-item" href="index.html">
                    <ion-icon name="person-outline"></ion-icon>
                    customers
                </a>
            </li>
            <li>
                <a class="nav-item" href="index.html">
                    <ion-icon name="person-outline"></ion-icon>
                    merchant
                </a>
            </li>
        </ul>

    </div>
</aside>