@media (min-width: 1000px) {
  .product-featured {
    height: 600px;
    width: 1096px;
  }
}
.product-featured .showcase-desc {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.cart-item-container {
  height: 100px;
  display: -webkit-box;
  overflow-y: scroll;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-container {
  text-align: center;
}
