<div class="product-box">

    <!--
- PRODUCT MINIMAL
-->

    <div class="product-minimal">

        <div class="product-showcase">

            <h2 class="title">New Arrivals</h2>

            <div class="showcase-wrapper has-scrollbar">

                <div class="showcase-container">
                    @for (product of newProducts; track $index) {
                    <ng-container>
                        <div class="showcase">

                            <a class="showcase-img-box">
                                <img src="./assets/images/products/clothes-1.jpg" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
                            </a>

                            <div class="showcase-content">

                                <a>
                                    <h4 class="showcase-title">{{product.name}}</h4>
                                </a>

                                <a class="showcase-category">{{product.category.name}}</a>

                                <div class="price-box">
                                    <p class="price">{{symbol}}{{product.price * exchangeRate | number:'.0-3'}}</p>
                                    <del>{{symbol}}{{product.new_price * exchangeRate | number:'.0-3'}}</del>
                                </div>

                            </div>

                        </div>
                    </ng-container>
                    }
                </div>



            </div>

        </div>

    </div>



    <!--
- PRODUCT FEATURED
-->

    <div class="product-featured">

        <h2 class="title">Deal of the day</h2>

        <div class="showcase-wrapper has-scrollbar">

            @for(product of featured;track $index){

            <div class="showcase-container">

                <div class="showcase">

                    <div class="showcase-banner">
                        <img src="./assets/images/products/shampoo.jpg" alt="shampoo, conditioner & facewash packs" class="showcase-img">
                    </div>

                    <div class="showcase-content">

                        <div class="showcase-rating">
                            @for(s of [].constructor(product.rate);track $index){
                            <ion-icon name="star"></ion-icon>
                            }
                            @for(s of [].constructor(NUMBER_OF_RATING_STARS - product.rate);track $index){
                            <ion-icon name="star-outline"></ion-icon>
                            }
                        </div>

                        <a>
                            <h3 class="showcase-title">{{product.name}}</h3>
                        </a>

                        <p class="showcase-desc">{{product.description}}</p>

                        <div class="price-box">
                            <p class="price">{{symbol}}{{product.price}}</p>

                            <del>{{symbol}}{{product.new_price}}</del>
                        </div>

                        <button class="add-cart-btn">add to cart</button>

                        <div class="showcase-status">
                            <div class="wrapper">
                                <p>
                                    already sold: <b>product - 1</b>
                                </p>

                                <p>
                                    available: <b>{{product.quantity}}</b>
                                </p>
                            </div>

                            <div class="showcase-status-bar"></div>
                        </div>

                        <div class="countdown-box">

                            <p class="countdown-desc">
                                Hurry Up! Offer ends in:
                            </p>

                            <div class="countdown">

                                <div class="countdown-content">

                                    <p class="display-number">360</p>

                                    <p class="display-text">Days</p>

                                </div>

                                <div class="countdown-content">
                                    <p class="display-number">24</p>
                                    <p class="display-text">Hours</p>
                                </div>

                                <div class="countdown-content">
                                    <p class="display-number">59</p>
                                    <p class="display-text">Min</p>
                                </div>

                                <div class="countdown-content">
                                    <p class="display-number">00</p>
                                    <p class="display-text">Sec</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
            }

        </div>

    </div>


    <!--
- PRODUCT GRID
-->

    <div class="product-main">

        <h2 class="title">New Products</h2>

        <div class="product-grid">


            @for(product of newArrivals;track product){

            <div class="showcase">

                <div class="showcase-banner">
                    <img src="./assets/images/products/shirt-1.jpg" alt="Pure Garment Dyed Cotton Shirt" class="product-img default" width="300">
                    <img src="./assets/images/products/shirt-2.jpg" alt="Pure Garment Dyed Cotton Shirt" class="product-img hover" width="300">

                    <p class="showcase-badge angle black">sale</p>

                    <div class="showcase-actions">
                        <button class="btn-action">
                            <ion-icon name="heart-outline"></ion-icon>
                        </button>

                        <button class="btn-action" (click)="showProduct(product)">
                            <ion-icon name="eye-outline"></ion-icon>
                        </button>

                        <button class="btn-action" (click)="addToCart(product)">
                            <ion-icon name="bag-add-outline"></ion-icon>
                        </button>
                    </div>
                </div>

                <div class="showcase-content">
                    <a class="showcase-category">{{product.name}}</a>

                    <h3>
                        <a class="showcase-title">{{product.description}}</a>
                    </h3>

                    <div class="showcase-rating">
                        @for(s of [].constructor(product.rate);track $index){
                        <ion-icon name="star"></ion-icon>
                        }
                        @for(s of [].constructor(NUMBER_OF_RATING_STARS - product.rate);track $index){
                        <ion-icon name="star-outline"></ion-icon>
                        }
                    </div>

                    <div class="price-box">
                        <p class="price">{{symbol}}{{product.price * exchangeRate | number:'.0-3'}}</p>
                        <del>{{symbol}}{{product.new_price * exchangeRate | number:'.0-3'}}</del>
                    </div>

                </div>

            </div>
            }
        </div>

    </div>

</div>

<!-- popup -->
<app-modal [productId]="currentProduct?.id" [template]="productInfo">

</app-modal>

<ng-template #productInfo>
    <div class="">
        <button class="btn-action" (click)="addToFavorite()">
            <ion-icon name="heart-outline"></ion-icon>
        </button>

        <button class="btn-action">
            <ion-icon name="bag-add-outline"></ion-icon>
        </button>
    </div>
    <div>
        <div>name</div>
        <div>{{currentProduct?.name}}</div>
    </div>
    <div>
        <div>description</div>
        <div>{{currentProduct?.description}}</div>
    </div>
    <div>
        <div>price</div>
        <div>{{currentProduct?.price}}</div>
    </div>
    <div>
        <div>new price</div>
        <div>{{currentProduct?.new_price}}</div>
    </div>
    <div>
        <div>category</div>
        <div>{{currentProduct?.category?.name}}</div>
    </div>
    <div>
        <div>category</div>
        <div>{{currentProduct?.category?.name}}</div>
    </div>
    <div>
        <div>quantity</div>
        <div>{{currentProduct?.quantity}}</div>
    </div>

</ng-template>

<!-- cart -->

@if(cartItems.length > 0){
<app-floating-cart [cartItems]="cartItems" [template]="cart">
</app-floating-cart>
}
<ng-template #cart>
    <mat-list class="cart-item-container">
        @for( item of cartItems;track $index){
        <mat-list-item>
            <div class="cart-item">
                <div>{{ item.name.split(' ')[0] }} - {{ item.new_price }}$ </div>
                <div class="cursor-pointer" (click)="removeFromCart(item.id)"> <ion-icon name="trash"></ion-icon> </div>
            </div>
        </mat-list-item>
        }
    </mat-list>
    <mat-list-item class="button-container">
        <button (click)="saveCart()">save</button>
    </mat-list-item>
</ng-template>